
* {
    font-family: 'Josefin Sans', sans-serif;
    
}

body {
    background-color:#f6fffa;
}

h1 {    
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    display: inline-block;
}

#intro {
    border: 1px solid black;
}

.jumbotron, #tid {
    text-align: center;
    padding: 30px;
    background-color: white;
    color: #46a79e;
    /* color: #ffc5d1; */
}

#minRubrik {
    font-size: 48px;
}

button {
    padding: 10px;
    margin: 10px;
    display: block;
}

#tidKvarKnapp {
    display:inline-block;
    
}